<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="/static/style/home.css">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/post.css">
    <title>Home</title>
    
</head>
<body>
    
    <header id="Header">
        <div id="LOGO">
            <img src="https://img.icons8.com/windows/50/000000/cook-male.png"/>
            <div id="Logo__Write">
                <p class="Logo_Write">Angry <strong>Creative</strong></p>
            </div>
        </div>
        
        <form action="/register" method="POST">
            <div id="search-box">
                <img src="https://img.icons8.com/windows/25/000000/search--v1.png" class="search_loop"/>
                <input class="search-text" type="text" name="" placeholder="Type to search" id="Search__Text">
                <button type="submit" id="Search__BTN" disabled></button>
            </div>
        </form>

        <div id="Addpost_Login">
            <div id="Post_add">
                <p>+ Add Post</p>
            </div>
            <img src="https://img.icons8.com/windows/50/000000/user-ninja.png" class="Login"/>
        </div>

        

        <!-- <img src="https://img.icons8.com/fluent-systems-regular/45/000000/user-male-circle.png"/> -->
        <script src="/static/js/header.js"></script>
    </header>
    
    <div id="home">
        <p class="titre_home" id="titre_popular_themes">Popular - Themes</p>
        <div class="menu_theme">
            <div id="top5">
                <div class="carre carre_top5">1</div>
                <div class="carre carre_top5">2</div>
                <div class="carre carre_top5">3</div>
                <div class="carre carre_top5">4</div>
                <div class="carre carre_top5">5</div>
            </div>
        </div>


        
        <p class="titre_home" id="titre_popular_posts">Popular - Posts</p>
        <div class="menu_theme popular_posts" id="post">
            <div id="Nom_post" class="poste_preview">
                <div id="header_info">
                    <p class="title">1234567891234567891234567</p>
                    <p class="author">123456789123</p>
                </div>
                <div id="brief_content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus tenetur necessitatibus laborum in reprehenderit iusto harum! Asperiores non consequuntur, quibusdam odio dicta est incidunt ducimus velit impedit quam nostrum! -245 max-- <br>
                    
                </div>
                <div id="footer_info">
                    <div class="posttag">
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                    </div>
                    <div class="stat_global">
                        <div class="view">
                            <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                            <p id="conteur_view">0</p>
                        </div>
                        <div class="like">
                            <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                            <p id="conteur_like">0</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <div id="Nom_post" class="poste_preview">
                <div id="header_info">
                    <p class="title">1234567891234567891234567</p>
                    <p class="author">123456789123</p>
                </div>
                <div id="brief_content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus tenetur necessitatibus laborum in reprehenderit iusto harum! Asperiores non consequuntur, quibusdam odio dicta est incidunt ducimus velit impedit quam nostrum! -245 max-- <br>
                    
                </div>
                <div id="footer_info">
                    <div class="posttag">
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                    </div>
                    <div class="stat_global">
                        <div class="view">
                            <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                            <p id="conteur_view">0</p>
                        </div>
                        <div class="like">
                            <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                            <p id="conteur_like">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nom_post" class="poste_preview">
                <div id="header_info">
                    <p class="title">1234567891234567891234567</p>
                    <p class="author">123456789123</p>
                </div>
                <div id="brief_content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus tenetur necessitatibus laborum in reprehenderit iusto harum! Asperiores non consequuntur, quibusdam odio dicta est incidunt ducimus velit impedit quam nostrum! -245 max-- <br>
                    
                </div>
                <div id="footer_info">
                    <div class="posttag">
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                    </div>
                    <div class="stat_global">
                        <div class="view">
                            <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                            <p id="conteur_view">0</p>
                        </div>
                        <div class="like">
                            <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                            <p id="conteur_like">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nom_post" class="poste_preview">
                <div id="header_info">
                    <p class="title">1234567891234567891234567</p>
                    <p class="author">123456789123</p>
                </div>
                <div id="brief_content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus tenetur necessitatibus laborum in reprehenderit iusto harum! Asperiores non consequuntur, quibusdam odio dicta est incidunt ducimus velit impedit quam nostrum! -245 max-- <br>
                    
                </div>
                <div id="footer_info">
                    <div class="posttag">
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                        <div class="tag burger">
                            <p>Burger</p>
                        </div>
                    </div>
                    <div class="stat_global">
                        <div class="view">
                            <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                            <p id="conteur_view">0</p>
                        </div>
                        <div class="like">
                            <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                            <p id="conteur_like">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="titre_home" id="titre_all_themes">All - Themes</p>
        
        <div class="menu_theme carousel" id="theme">
            <div class="arrow arrowLeftTheme"><p><</p></div>
            <div class="arrow arrowRightTheme"><p>></p></div>
            <div>          
                <div class="carre">1</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">5</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">10</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">15</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">20</div> 
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">25</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">30</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">35</div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre"></div>
                <div class="carre">40</div> 
            </div> 
        </div>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>

