<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="/static/style/home.css">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/post.css">
    <link rel="stylesheet" href="/static/style/theme.css">
    <link rel="stylesheet" href="/static/style/tag_post.css">
    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
    
</head>
<body>
    
    {{template "header"}}
    
    <div id="home">
        <div>
            <p class="titre_home" id="titre_popular_themes">Popular - Themes</p>
            <div class="menu_theme">
                <div id="top5">
                    <a class="theme Fast_Food" href="/theme?name=Fast_Food"><p>Fast Food</p></a>
                    <a class="theme Pizza"href="/theme?name=Pizza"><p>Pizza</p></a>
                    <a class="theme Burger" href="/theme?name=Burger"><p>Burger</p></a>
                    <a class="theme Dessert" href="/theme?name=Dessert"><p>Dessert</p></a>
                    <a class="theme American" href="/theme?name=American"><p>American</p></a>
                </div>
            </div>
        </div>


        
        <p class="titre_home" id="titre_popular_posts">Popular - Posts</p>
        <div class="menu_theme popular_posts" id="post">
            {{range .FinalArr}}
                <a id="Nom_post" class="poste_preview" href="viewpost?id={{.Post_info.Id}}">
                        <div id="header_info">
                            <p class="title">{{.Post_info.Name}}</p>
                            <!-- <p class="author">123456789123</p> -->
                        </div>
                        <div id="brief_content">
                        <p>{{.Post_info.Content}}</p>
                        </div>
                    <div id="footer_info">
                        <div class="posttag">
                            {{range .Tag_info}}
                                <div class="tag {{.}}_post">
                                    <p>{{.}}</p>
                                </div>
                            {{end}}
                        </div>
                        <div class="stat_global">
                            <div class="view">
                                <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                                <p id="conteur_view">{{.Post_info.Views}}</p>
                            </div>
                            <div class="like">
                                <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                                <p id="conteur_like">{{.Post_info.Like}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {{end}}
        </div>

        <p class="titre_home" id="titre_all_themes">All - Themes</p>
        
        <div class="menu_theme carousel" id="theme">
            <div class="arrow arrowLeftTheme"><p></p></div>
            <div class="arrow arrowRightTheme"><p>></p></div>
            <div>          
                <a class="theme Fast_Food" href="/theme?name=Fast_Food"><p>Fast Food</p></a>
                <a class="theme Pizza"href="/theme?name=Pizza"><p>Pizza</p></a>
                <a class="theme Burger" href="/theme?name=Burger"><p>Burger</p></a>
                <a class="theme Dessert" href="/theme?name=Dessert"><p>Dessert</p></a>
                <a class="theme American" href="/theme?name=American"><p>American</p></a>
                <a class="theme Italia" href="/theme?name=Italia"><p>Italian</p></a>
                <a class="theme Mexican" href="/theme?name=Mexican"><p>Mexican</p></a>
                <a class="theme India" href="/theme?name=India"><p>Indian</p></a>
                <a class="theme Japan" href="/theme?name=Japan"><p>Japan</p></a>
                <a class="theme French" href="/theme?name=French"><p>French</p></a>
                <a class="theme Africa" href="/theme?name=Africa"><p>African</p></a>
                <a class="theme BBQ" href="/theme?name=BBQ"><p>BBQ</p></a>
                <a class="theme Korea" href="/theme?name=Korea"><p>Korean</p></a>
                <a class="theme Vegan" href="/theme?name=Vegan"><p>Vegan</p></a>
                <a class="theme Latina_America" href="/theme?name=Latina_America"><p>Latina America</p></a>
                <a class="theme Bakery" href="/theme?name=Bakery"><p>Bakery</p></a>
            </div>
        </div>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>

