<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../asset/style/home.css">
    <title>Home</title>
</head>
<body>
    <div id="header"></div>
    <p class="titre_home" id="titre_popular_themes">Popular - Themes</p>
    <div id="menu_popular_themes"></div>
    <p class="titre_home" id="titre_popular_posts">Popular - Posts</p>
    <div id="menu_popular_posts"></div>
    <p class="titre_home" id="titre_all_themes">All - Themes</p>
    <div id="menu_all_themes"></div>
</body>
</html>