<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/post.css">
    <link rel="stylesheet" href="/static/style/Post-view.css">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/theme.css">
    <link rel="stylesheet" href="/static/style/tag_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <title>Post-View</title>
</head>
<body>
    
    {{template "header"}}

    <div id="post">
            <div id="User-Post-Name">{{.Post_info.Name}}</div>
            <div id="tags"><p>Tags for this post :</p></div>
            <div id="lineTop"></div>
                <div id="TagsAndWidgets">
                    <div id="alltags">
                        {{range .Tag_info}}
                                <div class="Tag {{.}}_post">
                                    {{.}}
                                </div>
                        {{end}}
                    </div>
                    <div class="stat_global">
                        <div class="view">
                            <span class="iconify" data-inline="false" data-icon="akar-icons:eye"></span>
                            <p id="conteur_view">{{.Post_info.Views}}</p>
                        </div>
                            <form action="/viewpost?id={{.Post_info.Id}}" method="POST">
                                <input type="hidden" name="LikePost" value="{{.Post_info.Id}}">
                            <button type="submit" id="Like-Button">
                                <div class="like">
                                        <span class="iconify" data-inline="false" data-icon="mdi:hamburger-check"></span>
                                        <p id="conteur_like">{{.Post_info.Like}}</p>
                                </div>
                            </button>
                        </form>
                        
                        <div class="params">
                            {{if eq  .Owner true}}
                            <button id="modify-post">
                            <span  class="iconify" data-icon="clarity:cog-line" data-inline="false"></span>
                            </button>
                            
                                <div id="mod_Post">
                                    <button id="close_mod">+</button>
                                    <form action="/viewpost?id={{.Post_info.Id}}" method="POST" id="myFormMod">
                                    <div id="name_mod">
                                        <label for="Name_mod" id="lab_mod_name">Name : character 0/25</label><br>
                                        <input type="text" name="Name_mod" id="Name_mod">
                                    </div>
                                    <div id="describ_content_mod">
                                        <label for="Content_mod" id="lab_mod_content">Description : character 0/2000 </label><br>
                                        <textarea name="Content_mod" id="Content_mod" ></textarea>
                                    </div>
                                    
                                    <button type="submit" id="Mod_sub" disabled>Change</button>
                                    
                                    </form>
                                    <form action="/deletepost">
                                        <input type="hidden" name="DeletePost" value="{{.Post_info.Id}}">
                                        <button type="submit" id="DeletePost">Delete</button>
                                    </form>
                                </div>
                            
                            {{end}}
                        </div>
                    </div>
                </div>
            <div id="lineBot"></div>
                <div id="text">{{.Post_info.Content}}</div> 
    </div>
</body>
<script src="/static/js/Post-view.js"></script>
</html>
