<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- CSS -->
        <!-- page -->
    <link rel="stylesheet" href="/static/style/register.css">
        <!-- Header -->
    <link rel="stylesheet" href="/static/style/header.css">

    <!-- Police ROBOTO -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
 
</head>
<body>
    <header id="Header">
        <div id="LOGO">
            <img src="https://img.icons8.com/windows/50/000000/cook-male.png"/>
            <div id="Logo__Write">
                <p class="Logo_Write">Angry <strong>Creative</strong></p>
            </div>
        </div>
        
        <form action="/register" method="POST">
            <div id="search-box">
                <img src="https://img.icons8.com/windows/25/000000/search--v1.png" class="search_loop"/>
                <input class="search-text" type="text" name="" placeholder="Type to search" id="Search__Text">
                <button type="submit" id="Search__BTN" disabled></button>
            </div>
        </form>
        <img src="https://img.icons8.com/windows/50/000000/user-ninja.png" class="Login"/>

        <!-- <img src="https://img.icons8.com/fluent-systems-regular/45/000000/user-male-circle.png"/> -->
        <script src="/static/js/header.js"></script>
    </header>


    <div id="RegisterArea">
        <form action="/register" method="POST">
            <div id="Email">
                <label for="Email__input" class="Email_Style">Email</label>
                <input type="text" name="Email__input" id="Email__input" class="Email_Input" >
                <p class="Disclaimer_error"></p>
            </div>

            <div id="Username">
                <label for="Username__input" class="Username_Style">Username</label>
                <input type="text" name="Username__input" id="Username__input" class="Username_Input">
                <p class="Disclaimer_error"></p>
            </div>

            <div id="Password">
                <label for="Password__input" class="Password_Style">Password</label>
                <input type="password" name="Password__input" id="Password__input" class="Password_Input" autocomplete="">
                <p class="Disclaimer_error"></p>
            </div>

            <div id="Password_Verif">
                <label for="Password_Verif__input" class="Password_Verif_Style">Password Verification</label>
                <input type="password" name="Password_Verif__input" id="Password_Verif__input" class="Password_Verif_Input" autocomplete="">
                <p class="Disclaimer_error"></p>
            </div>

            <div id="Register_Btn">
                <button type="submit" class="submit" disabled>REGISTER</button>
            </div>
            <div id="Hover_Btn"></div>

        </form>
    </div>
        <script src="/static/js/register.js"></script>
        
</body>
</html>