*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
header {
    box-sizing: content-box;
}
#Header{
    z-index: 999;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background: #FFCB77;
    border-bottom: 5px solid #fff;
}

#LOGO{
    position: relative;
    left: 80px;
    display: flex;
    width: 250px;
    transition:  0.5s ;
}

#LOGO img{
    margin-right: 10px;
}

.Logo_Write{
    cursor: pointer;
    position: relative;
    top: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.Logo_Write strong{
    color: #000;
    font-weight: 700;
}

#search-box{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #4D4D4D;
    height: 30px;
    padding: 5px 10px;
    top: 5px;
    border-radius: 20px;
    transition:  0.5s ;
}
#search-box button{
    display: none;
}
.search_loop{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: #fff;
    line-height: 30px;
    width: 500px;
    cursor: text;
    transition:  0.5s;
}

#Addpost_Login{
    position: absolute;
    right: 80px;
    display: flex;
    /* background-color: blue; */
    height: 50px;
}
#Post_add{
    box-sizing: content-box;
    cursor: pointer;
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    margin-right: 20px;
    padding: 0px 15px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
#Post_add::after{
    content: "+ add post";
}
.Login{
    cursor: pointer;
    transition:  0.5s;
} 

#Pop_up{
    display: none;
    position: absolute;
    right: 25px;
    top: 50px;
    width: 150px;
    height: 100px;
    border: 5px solid #fff;
    background: #FFCB77;
}
#Pop_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#Pop_content a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 5px 0px;
}
#Pop_content hr{
    border: 2px solid #000;
    width: 120px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#pop_post_add{
    display: none;
    /* display: block; */
    position:fixed;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
    background: rgba(0, 0, 0, 0.9);
}
#close_post{
    z-index: 99;
    position: absolute;
    top: 5px;
    right: 30px;
    background: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    color: #FFCB77;
    transform: rotate(-45deg);
    cursor: pointer;
}
#post_add_info{
    width: 85%;
    height: 90%;
    background: #4d4d4d;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}
#post_add_info form{
    /* display: grid;
    grid-template-rows: 2fr 2fr 6fr; */
    height: 100%;
}

#name{
    position: relative;
    left: 40px;
    top: 20px;
    width: calc(100% - 80px);
    height: 15%;
    /* background: chartreuse; */
}
#tag{
    position: relative;
    left: 40px;
    width: calc(100% - 80px);
    height: 15%;
    /* background: chocolate; */
    bottom: 10px;
}
#tag_post{
    display: flex;
    flex-wrap: wrap;
}

#tag__tag{
    /* background: #FFCB77; */
    width: 100px;
    height: 35px;
    border: 2px solid transparent;
    display: flex;
}
#tag__tag input{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.tag__name{
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    background: chartreuse;
    margin-left: 5px;
    margin-right: 10px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset__tag{
    background: #FFCB77;
    border: none;
    /* padding: 10px 20px; */
    width: 500px;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#describ_content{
    position: relative;
    bottom: 20px;
    left: 40px;
    width: calc(100% - 80px);
    height: 70%;
    /* background: cornflowerblue; */
    margin-top: 50px;
}
#name label, #tag label, #describ_content label{
    font-size: 25px;
    color: #fff;
}
#name input, #tag_post, #describ_content textarea{
    margin-top: 10px;
}
#name input{
    width: 80%;
    height: 20px;
    padding: 4px 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: #343434;
    border: 2px solid #FFCB77;
    border-radius: 5px;
    color: #fff;
}

#describ_content textarea{
    resize: none;
    width: 80%; 
    height: 70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background: #343434;
    border: 2px solid #FFCB77;
    border-radius: 15px;
    color: #fff;
}

#post_submit{
    position: absolute;
    bottom: 25px;
    right: 40px;
    padding: 10px 20px;
    background: #FFCB77;
    border: 4px solid #FFF;
    border-radius: 15px;
    color: #343434;
    font-size: 25px;
    font-weight: 700;
    cursor:pointer;
    opacity: 1;
}
#post_submit:disabled{
    cursor:default;
    opacity: 0.5;
}


@media screen and (max-width: 1200px){
    #LOGO{
        left: 20px;
    }
    .Logo_Write{
        font-size: 20px;
    }
    .search-text{
        width: 300px;
    }
    #Addpost_Login{
        right: 20px;
    } 
    #Pop_up{
        right: 0px;
    }
    #describ_content{
        margin-top: 70px;
    }
    #describ_content textarea{
        height: 50%;
    }
}

@media screen and (max-width: 840px){
    #search-box:hover > .search-text{
        /* display: flex; */
        width: 100px;
        margin-left: 10px;
    } 
    #search-box{
        left: 40%;
    }
    .search_loop{
        margin-right: 0;
        width: 30px;
        height: 30px;
    }
    .search-text{
        width: 0px;
    }
    #describ_content{
        margin-top: 110px;
    }
    #post_submit{
        bottom: 15px;
        right: 20px;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 750px){
    #describ_content{
        margin-top: 140px;
    }
    #describ_content textarea{
        height: 40%;
    }
}
@media screen and (max-width: 650px){
    #search-box{
        z-index: 100;
        left: 68%;
    }
    #Post_add{
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    #Post_add::after{
        content: "+";
    }
    #LOGO{
        left: 10px;
    }
    #Addpost_Login{
        right: 10px;
    } 
    #describ_content{
        margin-top: 190px;
    }
}