#Header{
    z-index: 999;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background: #FFCB77;
    border-bottom: 5px solid #fff;
}

#LOGO{
    position: relative;
    left: 80px;
    display: flex;
    width: 250px;
    transition:  0.5s ;
}

#LOGO img{
    margin-right: 10px;
}

.Logo_Write{
    cursor: default;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.Logo_Write strong{
    color: #000;
    font-weight: 700;
}

#search-box{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #4D4D4D;
    height: 30px;
    padding: 5px 10px;
    top: 5px;
    border-radius: 20px;
    transition:  0.5s ;
}
#search-box button{
    display: none;
}
.search_loop{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: #fff;
    line-height: 30px;
    width: 500px;
    cursor: text;
    transition:  0.5s;
}

#Addpost_Login{
    position: absolute;
    right: 80px;
    display: flex;
    /* background-color: blue; */
    height: 50px;
}
#Post_add{
    cursor: pointer;
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    margin-right: 20px;
    padding: 0px 15px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
}
#Post_add p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Login{
    cursor: pointer;
    transition:  0.5s;
} 


@media screen and (max-width: 1200px){
    #LOGO{
        left: 20px;
    }
    .Logo_Write{
        font-size: 20px;
    }
    .search-text{
        width: 300px;
    }
    .Login{
        right: 20px;
    } 
}

@media screen and (max-width: 800px){
    #search-box:hover > .search-text{
        /* display: flex; */
        width: 100px;
        margin-left: 10px;
    } 
    #search-box{
        left: 65%;
    }
    .search_loop{
        margin-right: 0;
        width: 30px;
        height: 30px;
    }
    .search-text{
        /* display: none; */
        width: 0px;
    }

    


}