* 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: #4D4D4D;
}

#home
{
    position: relative;
    top: 70px;
}

.titre_home
{
    color: #FFCB77;
    font-size: 36px;
    margin: 10px;
}

#titre_popular_themes
{
    margin-top: 0px;
}

#titre_popular_posts
{
    margin-top: 30px;
}

#titre_all_themes
{
    margin-top: 30px;
}

.menu_theme
{
    background-color: #373737;
    border-color: #373737;
    border-style: solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
    justify-content: space-between;
}
.menu_theme::-webkit-scrollbar
{
    display: none;
}

.carousel
{
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

.popular_posts
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#top5
{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.arrow
{
    height: 156px;
    width: 30px;
    background: #FFCB77;
    text-align: center;
    font-size: 20px;
    opacity: 0.9;
    user-select: none;
    z-index: 1;
}

.arrow:hover
{
    opacity: 1;
}

.arrow i
{
    padding-top: 65px;
}

.arrowLeftTheme
{
    left: 0;
    bottom: 0;
    position: absolute;
}

.arrowRightTheme
{
    right: 0;
    bottom: 0;
    position: absolute;
}


.carre_top5
{
    margin-right: 5%;
    margin-left: 5%;
}


@media screen and (max-height: 840px){
    #top5
    {
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .popular_posts{
        justify-content: center;
    }
}