*{
     margin: 0;
 }
html{
    min-width: 300px;
}
 body{
    background: #4d4d4d;

 }

 #IwantALL{
    width: 100%;
    height: 100vh;
 }
 #post{
     position: absolute;
     top: 55px;
     width:100%;
     height: 94%;
}
 .stat_global{
    display: flex !important;
    align-items: center !important;
    width: 400px !important;
    height: 80px !important;
    margin-left: 0px !important;
}
.stat_global p{
    font-size: 40px !important;
    margin-top: 0px !important;
}
.iconify{
    font-size: 50px !important;
    margin-top: 0px !important;
    
}
.view{
    display: flex;
    width: 100px;
    height: 75px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;

}

.like{
    display: flex;
    width: 100px;
    height: 75px;
    color: #FFCB77;
    align-items: center;
    justify-content: center;

}
#Like-Button{
    color: #FFCB77;
    background: none;
    border: none;
}
.params{
    display: flex;
    width: 100px;
    height: 75px;
    color: black;
    align-items: center;
    justify-content: center;
}
#params_btn{
    background: none;
    border: none; 
    width: 50px;
    height: 50px;
}
 #User-Post-Name{
    width: 80%; 
    height: 20%;
    bottom: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    position: fixed;
    font-size: 44px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;

 }
 #tags{
     position: absolute;
     width: 60vh;
     height: 10vh;
     top: 26%;
     left: 8%;

 }

 #tags p{
    font-size: 25px;
    color: #FFCB77;
    position: fixed;
 }
 #TagsAndWidgets{
    position: sticky;
    top:32%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #alltags{
     position: relative;
     left: 8%;
    display: flex;
    width: 60vw;
    height: 5vw;
    align-items: center;
    justify-content: space-between;
 }
 .Tag{
     width: 13vw;
     height: 2vw;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     display: flex;
     background: #FFCB77;
 }
  #lineTop{
    top: 33%;
    width: 100%;    
    background: #FFCB77;
    position: fixed;
    height: 1px;
}
 #lineBot{
    top: 40%;
    width: 100%;
    background: #FFCB77;
    position: fixed;
    height: 1px;
 }
 #text{
     margin: 15px;
     position: fixed;
     left: 7%;
     top: 40%;
     height: 50%;
     width: 80%;
     font-size: 18px;
     background:#4d4d4d;
     color: #FFFFFF;
    justify-content: center;

}
@media screen  and (max-width:500px){

    #User-Post-Name{
        font-size: 20px;
        position: absolute;
    }
    .stat_global p{
        font-size: 30px !important;
    }
    .iconify{
        font-size: 30px !important;        
    }
    .view{
        width: 70px;
        height: 50px;
    }
    
    .like{
        width: 70px;
        height: 50px;
    }
    .params{
        width: 70px;
        height: 50px;
    }
    #TagsAndWidgets{
        top:35%;
        height: 34px;
    }
    #alltags{
        flex-wrap: wrap;
        width: 240px;
        height: 120px;
    }
    .Tag{
        width: 100px;
        height: 50px;
    }

}
