.poste_preview{
    margin: 20px 5px;
    width: 400px;
    height: 200px;
    background: #000;
    color: #fff;
    padding: 15px;
}
#header_info{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 25px;
    /* background: blueviolet; */
}
.title{
    margin-left: 5px;
    font-size: 20px;
}
.author{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
}
#brief_content{
    /* background: brown; */
    text-align: left;
    padding: 5px;
    margin-top: 10px;
    height: 80px;
    font-size: 12px;

}
#brief_content p{
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px; */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


#footer_info{
    position: relative;
    height: 75px;
    width: 400px;
    /* background: burlywood; */
    display: flex;
}
.posttag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: cadetblue; */
    width: 200px;
    /* height: 75px; */
    /* ALIGN-ITEMS: FLEX-END; */
    align-items: flex-end;
}
.tag{
    /* margin: 3px 2px; */
    text-align: center;
    width: 95px;
    height: 30px;
    background: chartreuse;
}
.tag p{
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.stat_global{
    margin-left: 10px;
    width: 190px;
    height: 75px;
    /* background: cornflowerblue; */
    display: flex;
}
.stat_global p{
    font-size: 30px;
    margin-top: 22px;
}
.iconify{
    font-size: 28px;
    margin-top: 27px;
}
.view{
    display: flex;
    width: 100px;
    height: 75px;
    /* background: crimson; */
}
.like{
    display: flex;
    width: 100px;
    height: 75px;
    /* background:cyan; */
    color: #FFCB77;
}

.Fast_Food_post
{
    background-color: #ffe600;
}

.Pizza_post
{
    background-color: #ff0000;
}

.Burger_post
{
    background-color: #ff820f;
}

.Dessert_post
{
    background-color: #e1d4cd;
}

.American_post
{
    background-color: #00d1ff;
}

.Italia_post
{
    background-color: #24ff00;
}

.Mexican_post
{
    background-color: #a16202;
}

.India_post
{
    background-color: #ffeee7;
}

.Japan_post
{
    background-color: #ffe4bd;
}

.French_post
{
    background-color: #ff5c00;
}

.Africa_post
{
    background-color: #25a505;
}

.BBQ_post
{
    background-color: #f9b300;
}

.Korea_post
{
    background-color: #1eeded;
}

.Vegan_post
{
    background-color: #02701a;
}

.Latina_America_post
{
    background-color: #d78383;
}

.Bakery_post
{
    background-color:#ffe5bd;
}