.poste_preview{
    margin-top: 20px;
    width: 400px;
    height: 200px;
    background: #000;
    color: #fff;
}
#header_info{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 25px;
    /* background: blueviolet; */
}
.title{
    margin-left: 5px;
    font-size: 20px;
}
.author{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
}
#brief_content{
    /* background: brown; */
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    height: 80px;
    font-size: 12px;
}
#footer_info{
    position: relative;
    height: 75px;
    width: 400px;
    /* background: burlywood; */
    display: flex;
}
.posttag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: cadetblue; */
    width: 200px;
    height: 75px;
}
.tag{
    margin: 3px 2px;
    text-align: center;
    width: 95px;
    height: 30px;
    background: chartreuse;
}
.tag p{
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.stat_global{
    margin-left: 10px;
    width: 190px;
    height: 75px;
    /* background: cornflowerblue; */
    display: flex;
}
.stat_global p{
    font-size: 30px;
    margin-top: 22px;
}
.iconify{
    font-size: 28px;
    margin-top: 27px;
}
.view{
    display: flex;
    width: 100px;
    height: 75px;
    /* background: crimson; */
}
.like{
    display: flex;
    width: 100px;
    height: 75px;
    /* background:cyan; */
    color: #FFCB77;
}