*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}
body{
    background-color: #4D4D4D;
}

#RegisterImg{
    width: 900px;
    height: 800px;
    background:  center/150% no-repeat url("../image/pizz_register.jpg");
    /* background-color: aqua; */
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

#RegisterArea{
    width: 450px;
    height: 700px;
    /* background-color: aqua; */
    position: absolute;
    left: 425px;
    top: 50px;
}

#Email, #Username, #Password, #Password_Verif{
    /* background-color: black; */
    margin-top: 50px;
}

.Email_Style, .Username_Style, .Password_Style, .Password_Verif_Style{
    position: relative;
    margin-left: 10px;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}
.Email_Input, .Username_Input, .Password_Input, .Password_Verif_Input{
    margin-top: 8px;
    width: 400px;
    height: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3.5px solid #FFFFFF;
    padding: 2px 10px;
    background-color: #FFCB77;
    color: #000000;
}

#Register_Btn{
    /* background-color: black; */
    margin-top: 50px;
    text-align: center;
}
.submit{
    background: #373737;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 5px solid #4D4D4D;
    color: #FFCB77;
    font-size: 25px;
}
