*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}
html{
    min-width: 300px;
}
body{
    background: #4D4D4D url("/static/image/pizza.jpg") no-repeat top/100%;
}


#RegisterArea{
    width: 450px;
    height: 650px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* transition: 0.2s; */
}

#Username, #Password, #Password_Verif{
    margin-top: 30px;
}

.Disclaimer_error{
    height: 50px;
    margin-top: 8px;
    font-size: 12px;
    color:red;
    margin-left: 10px;
}

.Email_Style, .Username_Style, .Password_Style, .Password_Verif_Style{
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.Email_Input, .Username_Input, .Password_Input, .Password_Verif_Input{
    margin-top: 8px;
    width: 400px;
    height: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3.5px solid #FFFFFF;
    padding: 2px 10px;
    background-color: #FFCB77;
    color: #000000;
    cursor: text;
}

#Register_Btn{
    margin-top: 10px;
    text-align: center;
}
.submit{
    cursor: pointer;
    background: #FFCB77;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 5px solid #4D4D4D;
    color: #4D4D4D;
    font-size: 25px;
}
button:disabled{
    cursor:default;
    opacity: 0.5;
}


@media screen and (max-width: 1200px){
    body{
        background: #4d4d4d;
    }
    #RegisterArea{
        left: 50%;
        background: #373737;
        padding: 20px;
        border-radius: 35px;
        top: 52%;
    }
    
}
@media screen and (max-height: 800px){
    #RegisterArea{
        position:relative;
        top: 420px;
    }
    
}
