.Fast_Food_post
{
    background-color: #ffe600;
}

.Pizza_post
{
    background-color: #ff0000;
}

.Burger_post
{
    background-color: #ff820f;
}

.Dessert_post
{
    background-color: #e1d4cd;
}

.American_post
{
    background-color: #00d1ff;
}

.Italia_post
{
    background-color: #24ff00;
}

.Mexican_post
{
    background-color: #a16202;
}

.India_post
{
    background-color: #ffeee7;
}

.Japan_post
{
    background-color: #ffe4bd;
}

.French_post
{
    background-color: #ff5c00;
}

.Africa_post
{
    background-color: #25a505;
}

.BBQ_post
{
    background-color: #f9b300;
}

.Korea_post
{
    background-color: #1eeded;
}

.Vegan_post
{
    background-color: #02701a;
}

.Latina_America_post
{
    background-color: #d78383;
}

.Bakery_post
{
    background-color:#ffe5bd;
}