*
{
    margin: 0;
    padding: 0;
}

/* couleur de fond */
body
{
    background-color: #4D4D4D;
}

/* padding global */
.page
{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

/*---------------------------------------------------*/

/* gestion du carousel */
/* global */
#carousel_fix
{
    position: fixed;
    background: #4D4D4D;
    height: 90vh;
    overflow: hidden;
}
/* titre */
.titre_carousel
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color:#FFCB77;
}

/* carousel */
#test
{
    height: 79.2vh;
    overflow: scroll;
    flex-direction: column;
    padding-top: 30px;
    width: 170px;
}
#test::-webkit-scrollbar
{
    display: none;
}

/* bouton */
.arrow
{
    position: absolute;
    background: #FFCB77;
    text-align: center;
    opacity: 0.9;
    user-select: none;
    z-index: 1;
}
.arrow:hover
{
    opacity: 1;
}

.arrowTop
{
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    width: 170px;
}

.arrowBottom
{
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    height: 30px;
    width: 170px;
}

.arrowLeft
{
    display: none;
    height: 170px;
    width: 30px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    left: 0;
}

.arrowRight
{
    display: none;
    height: 170px;
    width: 30px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    right: 0;
}

/*---------------------------------------------------*/

/* Gestion des posts */
.all_posts
{
    padding-left: 16%;
    padding-right: 2.4%;
}

/* titre du theme */
.titre
{
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

/* ligne de séparation */
.line
{
    margin-top: 50px;
    background-color: #FFE600;
    height: 1px;
    width: auto;
}

/* tableau pour afficher tous les posts */
.affichage
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* responsives*/ 
    @media screen and (max-width: 1665px){
    .affichage
    {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1225px){
    .titre
    {
        margin-top: 300px;
        left: 20%;
    }
    .titre_carousel
    {
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 60px;
    }
    #carousel_fix
    {
        position: fixed;
        width: 80%;
        text-align: center;
        justify-content: center;
        left: 10%;
        height: 300px;
    }
    #test
    {
        display: flex;
        flex-direction: row;
        height: 170px;
        margin: 100px 30px 0 30px;
        padding: 0 0;
        width: 93%;
    }
    .arrowTop
    {
        display: none;
    }
    .arrowBottom
    {
        display: none;
    }
    .arrowLeft
    {
        display: block;   
    }
    .arrowLeft i
    {
        padding-top: 75px;
    }
    .arrowRight
    {
        display: block;
        top: 0;
        margin-top: 100px;
    }
    .arrowRight i
    {
        padding-top: 75px;
    }
    .affichage
    {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
    }
    .all_posts
    {
        padding-left: 0px;
    }
    .line
    {
        margin-left: 2%;
        margin-right: 2%;
        width: auto;
    }
    .page
    {
        padding-left: 20px;
    }
}
