# Email

- longeur de 5 caractères minimum
- " " non autorisé
- un seul @
- .. interdit
- .@ interdit
- @. interdit
- avoir qqch apres @ et un .


# Username

- longeur entre 4 et 12 caractères
- " " non autorisé

# Password

- longeur de 6 caractères minimum
- " " non autorisé
- Avoir une MAJ minimum
- Avoir une MIN minimum
- Avoir un NUB minimum

# Password

- Etre egale au Password
